
.content{
	position: relative;
	width: 60%;
	align-content: center;
}

.header{
	position: relative;
	left: 100px;
	height: 50px;
	font-family:  Century Gothic;
	font-size: 25px;
	background-color: #00FFFF;
}

.productDetail{
	
}

.img{
	width: 30%;
	float: left;
}
.detail{
	width: 30%;
	float: left;
	position: relative;
	left: 20px;
	margin-top: 20px;
}

.description, .size,.stock,.color,.weblink,.tag,.categories,.price{
	style='background-color: #FFFAF0; margin-top:10px;
}
